html * {
    font-family: 'Montserrat' !important;
}

#filedrag {
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#filedrag.hover {
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ededed;
    vertical-align: middle;
}

.body-pop {
    background-color: white;
}

.container-body {
    transform: translateY(15%);
    height: 100%;
    width: 100%;
    padding: 0px 30px 30px 30px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
}

.pop-up {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000BF;
    z-index: 10;
    text-align: center;
}

.log-in-pop {
    height: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
    border: 3px solid black;
    margin-top: 15%;
    border-radius: 4px;
    width: fit-content;
    width: -moz-fit-content;
}
.tablecontainer{
    margin: 30px 10px 0px 10px;    
}
.log-in-cell {
    text-align: left;
    padding-right: 10px;
}
#errorNotice{
    font-weight: 600;
    height: 14px;
    font-size: 12px;
    color: red;
    margin: 0;
}
#userNotice{
    font-weight: 600;
    height: 14px;
    font-size: 12px;
    color: red;
    margin: 0;
}
.table-phone {
    border: none;
    border-collapse: collapse;
}

.row {
    height: 40px;
}

.gray {
    background-color: #ededed
}

.container-pop {
    padding: 30px;
    vertical-align: middle;

}

.caract {
    text-align: left;
    margin: 0;
    padding-left: 15px;
}

.desc {
    word-wrap: break-word;
    text-align: left;
    margin: 0;
    padding-left: 30px;
}

.navbar {
    background: black;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    position: absolute;
    display: inline-block;
    margin: 0;
    line-height: 1.8em;
    font-size: 1em;
    font-weight: 400;
    min-height: 53px;
    margin-bottom: 20px;
    left: 0;
    top: 0;
    width: 105%;
}

.table-pop {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.charac {
    width: 20%;
    text-align: left;
}

.box-container {
    font-size: 18px;
    width: inherit;
    min-height: 20px;
    margin-bottom: 15px;
    background: #ededed;
    padding: 10px;
    text-align: left;
    font-weight: 900;
    position: relative;
    border-radius: 15px 15px 15px 0px;
    padding: 5px 30px 5px 30px;
}

.box {
    font-size: .8em;
    width: 100%;
    min-height: 20px;
    margin-bottom: 15px;
    background: black;
    padding: 10px;
    text-align: left;
    font-weight: 900;
    color: white;
    position: relative;
    border-radius: 15px 15px 15px 0px;
    z-index: 10;
}
.plan-detail {
    font-size: .5em;
    font-weight: 800;
    text-align: center;
}
.plan-price {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}
.box-b {
    font-size: .8em;
    width: 90%;
    min-height: 20px;
    margin-bottom: 15px;
    background: white;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    color: black;
    position: relative;
    border-radius: 15px 15px 15px 0px;
}

.box-title {
    font-size: 1em;
    width: calc(100% - 15%);
    margin: 10px 10px 10px 10px;
    background: white;
    padding: 8px;
    text-align: left;
    font-weight: 900;
    color: black;
    position: relative;
    border-radius: 15px 0px 0px 15px;
    padding-left: 1.4em;
}

.sbtitle:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 30px solid #ededed;
    border-right: 30px solid transparent;
    border-top: 30px solid #ededed;
    border-bottom: 30px solid transparent;
    left: 0px;
    top: 100%;
}

.sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid black;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    left: 0px;
    bottom: -15px;
}

.sb2:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 1em solid white;
    border-right: 1em solid transparent;
    border-top: 1em solid white;
    border-bottom: 1em solid transparent;
    left: 100%;
    top: 0px;
}

.planes-bar {
    border-radius: 25px;
    color: white;
    overflow: hidden;
    width: 20px;
}

.pop-cell {
    text-align: center;
    font-weight: 400;
    font-size: 1em;
}

.rotated {
    width: 20px;
    position: relative;
    left: 0;
    top: 11vh;
    text-align: center;
    white-space: nowrap !important;
    float: left;
    min-width: 400%;
    margin-left: -150%;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1.2em;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.img-logo {
    padding: 10px;
    min-width: 90px;
    max-width: 110px;
    min-height: 20px;
    max-height: 30px;
}

.logos-header {
    width: 15%
}

.notif-tarjeta {
    width: 70px;
}

.table-pop-header {
    font-weight: 700;
    width: 20%;
    padding: .8em;
    text-align: center;
    word-break: break-word;
}

.sku_text {
    height: 300px;
    font-weight: 400;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    letter-spacing: 3px;
    width: 400px;
    outline: none;
    padding: 10px;
    resize: none;
}

.skuList {
    width: fit-content;
    width: -moz-fit-content;
    text-align: center;
    margin: auto;
}

.button_pop {
    font-size: 15px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    width: 100%;
}

.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 50px;
}

.style-3::-webkit-scrollbar {
    border-radius: 20px;
    width: 6px;
    background-color: white;
}

.style-3::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #000000;
}
.disclaimer {
    text-align: center;
    margin: auto;
    font-size: .8em;
}